.app_dark_theme {
    --bg-color: #bdc2c6;
    --inverted-bg-color: #1a0303;
    --primary-color: #a3a7a2;
    --secondary-color: #081708;
    --inverted-primary-color: #2c2f3d;
    --inverted-secondary-color: #333857;
}
