:root {
    --bg-color: #ffffff;
    --inverted-bg-color: #2d2e2e;
    --primary-color: #5a5454;
    --secondary-color: #bdbaba;
    --inverted-primary-color: #858256;
    --inverted-secondary-color: #dfe2db;
}